<!DOCTYPE html>
<html lang="en" dir="ltr">
{{> ./parts/head }}

  <body>
    <header>
      {{> ./parts/navbar }}
    </header>
    <main>
      {{> ./sections/top_carousel }}
    </main>
    {{> ./parts/footer }}
  </body>

</html>
