<head>
  <meta charset="utf-8">
  <title>New site</title>
  <link rel="stylesheet" href="../assets/css/libs.min.css">
  <link rel="stylesheet" href="../assets/css/style.min.css">
  <!--  -->
  <script src="../assets/js/libs.min.js" charset="utf-8"></script>
  <script src="../assets/js/scripts.min.js" charset="utf-8"></script>
</head>
